* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Vollkorn', serif;
}

#Page-Name {
	color: #3b5998;
}


.navbar {
	margin-bottom: 0;
	background-color: #3b5998;
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
}

.nav li a, .navbar .navbar {
	color: #fff;
}

/*landing page*/

.jumbotron hr {
	background-color: #fff; /*white*/
}

.btn a {
	text-decoration: none;
	color: #fff;

}

#jumbo-land {
	height: 100vh;
	padding-top: 20%;
	margin-bottom: 0;
	/*background-color: grey;*/
	background-image: url(../images/visa.banner.jpg);
	border-radius: 0; /*remove jumbo's radius corners*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.jumbotron h1 {
	color: black;

}

.dropdown-menu a {
	color: black !important;
}


#submenu {
	margin-left: 50px;
}


#slogan {
	color: black;
}

#carotxt {
	color: black;
}

/*.container {
	padding: 2px 16px;
}*/

.carousel .item {
	height: 300px;
}


.item img {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 300px;
}

#contact {
	margin-top: 100px;
}

#contactform {
	margin-left: 25px;

}

#map {
	margin: 0px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #293879;
	color: white;
	padding-top: 2px;
	margin-top: 20px;
}

#message {
	height: 200px;
}

.bio {
	width: 170px;
	height: 170px;
	margin-right: 15px;
	float: left;
}

#divorice-image {
	width: 150px;
	height: 150px;
	float: left;
}

#jumbotron-about {
	background-color: #141414;
	height: 100vh;
	border-radius: 0;
	margin-bottom: 0px;
}

#landing-about {
	color: #f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	/*font-family: 'Montserrat', sans-serif;*/

}

.real-image-right {
	float: right;
	padding: 10px;
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.real-image-left {
	float: left;
	margin-left: 0px;
}


hr.new {
	border: 2px solid black;
	border-radius: 5px;
}

#logo {
	border-radius: 50%
	
}


/*Contact Us Form HOME*/


.form-style-2{
	max-width: 500px;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
	border-radius: 10px;
	border: 10px solid #293879;
}
.form-style-2-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.form-style-2 label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:red;
}
.form-style-2 .tel-number-field{
	width: 40px;
	text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
	width: 48%;	
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
	border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
	height:100px;
	width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
	background: #EA7B00;
	color: #fff;
}


/*End Contact us form home*/


#btn {
	color: #293879
}