* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

#Page-Name {
	color: #3b5998;
}


.navbar {
	margin-bottom: 0;
	background-color: #3b5998;
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
}

.nav li a, .navbar .navbar {
	color: #fff;
}

/*landing page*/

.jumbotron hr {
	background-color: #fff; /*white*/
}

.btn a {
	text-decoration: none;
	color: #fff;
}

#jumbo-land {
	height: 100vh;
	padding-top: 20%;
	margin-bottom: 0;
	/*background-color: grey;*/
	background-image: url(../images/visa.banner.jpg);
	border-radius: 0; /*remove jumbo's radius corners*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.jumbotron h1 {
	color: black;

}

.dropdown-menu a {
	color: black !important;
}


#submenu {
	margin-left: 50px;
}


#slogan {
	color: black;
}

#carotxt {
	color: black;
}
/*
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 20%;
	border-style: solid;
	border-width: 15px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}*/

.container {
	padding: 2px 16px;
}

.carousel .item {
	height: 300px;
}


.item img {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 300px;
}

#contact {
	margin-top: 60px;
}

#contactform {
	margin-left: 25px;
}

#map {
	margin: 0px;
}

#footer {
	background-color: #3b5998;
}